header {
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	justify-items: end;
	/* border: solid 1px; */
	padding: 30px;
}

.profile {
	cursor: pointer;
	background-color: blue;
	padding: 10px;
}

#FriendsHeaderTitle {
	font-size: 300%;
}